<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JBK Portfolio Page</title>
  <link rel="stylesheet" href="../assets/stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script src="../assets/javascript/script.js"></script>
</head>
<body class="ml-5 md:ml-10 lg:ml-20">
  <header class="grid grid-cols-[290px_minmax(400px,_max-content)] mt-80 gap-y-10 items-baseline overflow-auto">
    <div class="pr-6 text-4xl text-right self-center">
      <!-- <span class="inline-block animate-wave">👋🏻</span> -->
    </div>
    <div class="">
      <h1 class="text-5xl font-extrabold text-blue-800"><span class="inline-block animate-wave pr-4">👋🏻</span>Hello, I'm James.</h1>
    </div>
    <div class="hidden md:inline-block pr-5 text-nowrap text-right">
      <p class="text-lg text-gray-800 font-light font-mono text-right">&lt;h1 class='<span id="dynamic-class-text"></span>'&gt;
      </p>
    </div>
    <div class="">
      <h1 class="text-5xl font-extrabold text-blue-800 min-w-fit">I'm a full stack Ruby web developer.
        <span class="hidden md:inline-block text-lg text-gray-800 font-light font-mono pl-4">
          &lt;/h1&gt;
        </span>
      </h1>
    </div>
    <div class="hidden md:inline-block pl-5 text-left max-w-fit">
    </div>
  </header>
  <br>
  <br>
  <br>
  <section>
    Language Icons
  </section>
  <section>
    Project
    <h4 class="text-base"><a href="https://github.com/jbk2/linux-scripting" class="link">Linux scripting</a> repo ...</h4>
  </section>
  <section>
    Project
  </section>
  <section>
    Project
  </section>
</body>
</html>