<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JBK Portfolio Page</title>
  <link rel="stylesheet" href="../assets/stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script src="../assets/javascript/script.js"></script>
</head>
<body class="">
  <header class="mt-[12%]">
    <div class="flex flex-row justify-center items-end">
      <div class="hidden lg:inline-block min-w-[248px] text-right">
        <p class="text-base text-gray-800 font-light font-mono pr-4">&lt;h1 class='<span id="dynamic-class-text">ruby</span>'&gt;</p>
      </div>
      <div>
        <h1 class="text-5xl font-extrabold text-blue-800 mb-6"><span class="inline-block animate-wave pr-4">👋🏻</span>Hi, I'm James.</h1>
        
        <h1 class="text-5xl font-extrabold text-blue-800 min-w-fit">I'm a full stack web developer.
          <span class="hidden lg:inline-block text-base  text-gray-800 font-light font-mono pl-4">
            &lt;/h1&gt;
          </span>
        </h1>
      </div>
    </div>  
    
  </header>
  <br>
  <br>
  <br>
  <section>
    Language Icons
  </section>
  <section>
    Project
    <h4 class="text-base"><a href="https://github.com/jbk2/linux-scripting" class="link">Linux scripting</a> repo ...</h4>
  </section>
  <section>
    Project
  </section>
  <section>
    Project
  </section>
</body>
</html>