<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBK Portfolio Page</title>
    <link rel="stylesheet" href="../assets/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">
    <script src="../assets/javascript/script.js"></script>
  </head>
  <body class="flex justify-center px-6 sm:px-10">
    
    <main class="grid grid-cols-[min-content_minmax(220px,max-content)] xl:grid-cols-[220px_minmax(400px,max-content)] mt-[8%]">
      
      <div class="hidden xl:inline-block col-start-1 col-span-1 text-right self-end">
        <p class="text-sm text-gray-800 font-jetbrains pr-4 pb-1">&lt;h1 class='<span id="dynamic-class-text">ruby</span>'&gt;</p>
      </div>

      <!-- bg-[linear-gradient(to_right,theme(colors.green.300),theme(colors.green.100),theme(colors.sky.400),theme(colors.yellow.200),theme(colors.sky.400),theme(colors.green.100),theme(colors.green.300))] -->
      <!-- bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.purple.100),theme(colors.pink.300),theme(colors.orange.400),theme(colors.pink.300),theme(colors.purple.100),theme(colors.purple.400))] -->
      
      <div class="col-start-2 col-span-1 justify-self-stretch mx-auto xl:ml-0 md:min-w-[800px]">
        <h1 class="text-6xl md:text-7xl font-inter font-black text-blue-900 mb-10 sm:mb-6">I'm 
          <div class="inline-block bg-clip-text text-transparent
          bg-[linear-gradient(to_right,theme(colors.blue.900),theme(colors.sky.600),theme(colors.purple.400),theme(colors.sky.600),theme(colors.blue.900))]
          bg-[length:200%_auto] animate-gradient">
            James
            <span class="hidden sm:inline-block">&nbsp;Kemp</span>
          </div>
          <span class="text-4xl -ml-3">,</span>
          <span class="inline-block text-5xl animate-rotate-wave delay-1 pl-2 sm:pl-3">👋🏻</span>
        </h1>
        <div class="flex flex-wrap">
          <h1 class="text-6xl md:text-7xl font-inter font-extrabold text-blue-900 min-w-fit">
            <span class="hidden sm:inline-block">A f</span><span class="inline-block sm:hidden">F</span>ull stack&nbsp;<span class="hidden sm:inline-block">web&nbsp;</span>
          </h1>
          <span class="whitespace-nowrap">
            <h1 class="text-6xl md:text-7xl font-inter font-extrabold text-blue-900 inline-block">developer<span class="text-4xl">.</span></h1>
            <p class="hidden xl:inline-block text-sm text-gray-800 font-jetbrains pl-2">&lt;/h1&gt;</p>
          </span>
        </div>
        
      </div>

      <div class="col-start-2 col-span-1 xl:col-start-1 xl:col-span-2 overflow-x-auto">
        <section class="w-full inline-flex flex-nowrap overflow-hidden opacity-90 [mask-image:_linear-gradient(to_right,transparent_7%,_white_15%,_white_85%,transparent_93%)]">
          <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
            <li><img src="../assets/images/technology-images/ruby-logo.svg" alt="Ruby" class="size-8"></li>
            <li><img src="../assets/images/technology-images/rails_logo.svg" alt="RubyOnRails" class="size-16"></li>
            <li><img src="../assets/images/technology-images/postgres-logo.svg" alt="Postgres" class="size-9"></li>
            <li><img src="../assets/images/technology-images/hotwire.svg" alt="Hotwire" class="size-16 -ml-4"></li>
            <li><img src="../assets/images/technology-images/html5-logo.svg" alt="Html5" class="size-10 -ml-3"></li>
            <li><img src="../assets/images/technology-images/css3-logo.svg" alt="CSS3" class="size-10 -ml-2"></li>
            <li><img src="../assets/images/technology-images/tailwindcss-logotype.svg" alt="TailwindCSS" class="size-28 -ml-4"></li>
            <li><img src="../assets/images/technology-images/daisyui-logotype.svg" alt="DaisyUI" class="size-24 -ml-5"></li>
            <li><img src="../assets/images/technology-images/docker-logo.svg" alt="Docker" class="size-16 -ml-4"></li>
            <li><img src="../assets/images/technology-images/linux-logo.svg" alt="Linux" class="size-8"></li>
            <li><img src="../assets/images/technology-images/ec2.svg" alt="EC2" class="size-7"></li>
          </ul>
          <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
            <li><img src="../assets/images/technology-images/ruby-logo.svg" alt="Ruby" class="size-8"></li>
            <li><img src="../assets/images/technology-images/rails_logo.svg" alt="RubyOnRails" class="size-16"></li>
            <li><img src="../assets/images/technology-images/postgres-logo.svg" alt="Postgres" class="size-9"></li>
            <li><img src="../assets/images/technology-images/hotwire.svg" alt="Hotwire" class="size-16 -ml-4"></li>
            <li><img src="../assets/images/technology-images/html5-logo.svg" alt="Html5" class="size-10 -ml-3"></li>
            <li><img src="../assets/images/technology-images/css3-logo.svg" alt="CSS3" class="size-10 -ml-2"></li>
            <li><img src="../assets/images/technology-images/tailwindcss-logotype.svg" alt="TailwindCSS" class="size-28 -ml-4"></li>
            <li><img src="../assets/images/technology-images/daisyui-logotype.svg" alt="DaisyUI" class="size-24 -ml-5"></li>
            <li><img src="../assets/images/technology-images/docker-logo.svg" alt="Docker" class="size-16 -ml-4"></li>
            <li><img src="../assets/images/technology-images/linux-logo.svg" alt="Linux" class="size-8"></li>
            <li><img src="../assets/images/technology-images/ec2.svg" alt="EC2" class="size-7"></li>
          </ul>
        </section>
      </div>

      <div class="col-start-2 col-span-1 mx-auto xl:ml-0 max-w-[950px] mt-5">
        <section class="font-inter font-light text-base text-gray-600 mb-4">
          <p class="">15 years in digital product management, 10 years coding since Makers
            Academy bootcamp, 1 1⁄2 years full-time web development. I specialize in Ruby, Rails, Hotwire, and
            TailwindCSS. Also skilled in bash scripting, Docker, Linux, and AWS. Always keen to
            learn new technologies.</p>
        </section>
        <section class="flex gap-4" >
          <a href="mailto:james@bibble.com" class="btn w-[136px] bg-gradient-to-r-from-deep-blue-to-bright-teal hover:opacity-80 text-gray-200">Work together</a>
          <!-- <a href="mailto:james@bibble.com" class="w-32 h-12 border-4 rounded-md border-emerald-300 hover:border-emerald-500 flex items-center justify-center">Work together</a> -->
          <a href="#" class="btn w-[136px] bg-teal-300 hover:bg-teal-400 text-gray-800">C.V.</a>
          <!-- <a href="#" class="border-3 rounded-lg border-teal-500">C.V.</a> -->
          <a href="https://github.com/jbk2" class="btn w-[136px] bg-teal-300 hover:bg-teal-400 text-gray-800">Github profile</a>
          <!-- <a href="https://github.com/jbk2" class="border-2 rounded-sm border-cyan-400">Github profile</a> -->
        </section>
        <br>
        <br>  
        <section>
          <h4 class="text-base"><a href="https://github.com/jbk2/linux-scripting" class="link">Linux scripting</a> repo ...</h4>
        </section>

        <section>
        </section>
        <section>
          Project
        </section>
      
      </div>
    
    </main>


  </body>
</html>