@config "../../../tailwind.config.js";
@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-dark-blue: hsla(236, 77%, 20%, 1);
  --color-light-teal: hsla(182, 100%, 42%, 1);
  /* Layout */
  --scroll-shift: 70px; /* the variable which the scroll animation adjusts */
}

:root[data-theme='light'] {
  color-scheme: light;
  /* Surfaces */
  --btn-gradient-primary-darktolight: linear-gradient(90deg, var(--color-dark-blue) 30%, var(--color-btn-primary) 95%);
  --btn-gradient-primary-lighttodark: linear-gradient(90deg, var(--color-btn-primary) 5%, var(--color-dark-blue) 70%);
  --color-bg: var(--color-white);

  /* Text */
  --color-text-header-primary: var(--color-blue-900);
  --color-text-header-secondary: hsl(from var(--color-text-header-primary) h s l / 90%);
  --color-text-primary: hsl(239, 100%, 8%);
  --color-text-secondary: var(--color-gray-600);
  --color-text-tertiary: var(--color-gray-300);

  /* Elements */
  --color-btn-primary: var(--color-teal-300);
  --btn-dark-text: hsl(from var(--color-blue-900) h s l / 95%);
  --btn-light-text: var(--color-text-tertiary);
  --color-surface-card: var(--color-white);
  --color-socials: var(--color-zinc-400);

  /* Accenting / decoration */
  --color-border-primary: var(--color-blue-100);
  --color-decoration-emerald: var(--color-emerald-200);
  --color-teal-dark: var(--color-teal-500);
  --color-foreground-light: var(--color-neutral-50);
}


:root[data-theme='dark'] {
  color-scheme: dark;
  /* Surfaces */
  --btn-gradient-primary-darktolight: linear-gradient(90deg, var(--color-dark-blue) 20%, var(--color-btn-primary) 100%);
  --btn-gradient-primary-lighttodark: linear-gradient(90deg, var(--color-btn-primary) 5%, var(--color-dark-blue) 95%);
  --color-bg: var(--color-slate-900);

  /* Text */
  --color-text-header-primary: var(--color-sky-100);
  --color-text-header-secondary: hsl(from var(--color-sky-100) h s l/0.9);
  --color-text-primary: var(--color-slate-200);
  --color-text-secondary: var(--color-slate-300);
  --color-text-tertiary: var(--color-gray-300);

  /* Elements */
  --color-btn-primary: var(--color-teal-300);
  --btn-dark-text: hsl(from var(--color-blue-900) h s l / 95%);
  --btn-light-text: var(--color-text-tertiary);
  --color-foreground-light: var(--color-neutral-50);
  --color-surface-card: var(--color-slate-800);
  --color-socials: var(--color-zinc-200);

  /* Accenting / decoration */
  --color-decoration-emerald: hsl(from var(--color-emerald-400) h s l/0.8);
  --color-teal-dark: var(--color-teal-500);
  --color-border-primary: var(--color-slate-700);
}

.page-width {
  max-width: 1400px;
  margin-inline: auto;
}

html, body {
  height: 100%;
  background-color: var(--color-bg);
  font-family: inter;
}

body {
  margin: 0;
}

.section-hr { 
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-top: 1px solid var(--color-border-primary);
}


/* -------------------------------------------- */
/* Information section button glows */
.btn-glow-transition {
  transition: box-shadow 300ms ease, transform 300ms ease;
  will-change: box-shadow, transform;
}

/* Single-color teal glow (matches --color-btn-primary) */
html[data-theme="dark"] .btn-glow-teal {
  box-shadow: 0 0 30px 11px hsl(from var(--color-btn-primary) h s l / 0.20);
}

html[data-theme="dark"] .btn-glow-teal:hover {
  box-shadow: 0 0 40px 10px hsl(from var(--color-btn-primary) h s l / 0.4);
  transform: translateY(-1px);
}

/* Gradient glow to match gradient coloured buttons */
html[data-theme="dark"] .btn-glow-gradient {
  box-shadow:
    0 0 30px 8px hsl(from var(--color-btn-primary) h s l / 0.1),
    0 0 30px 8px hsl(from var(--color-dark-blue) h s l / 0.1);
}

html[data-theme="dark"] .btn-glow-gradient:hover {
  box-shadow:
  0 0 40px 8px hsl(from var(--color-btn-primary) h s l / 0.3),
  0 0 40px 8px hsl(from var(--color-dark-blue) h s l / 0.3);
  transform: translateY(-1px);
}

/* -------------------------------------------- */
/* Hero Header gradient & animation */
.hero-header-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-teal-400),
    var(--color-sky-500),
    var(--color-violet-600),
    var(--color-sky-500),
    var(--color-teal-400)
  );
  background-size: 200% auto;
  animation: gradient 10s linear infinite;
}

/* Firefox (non-macOS will show this) */
.scrollbar-colored {
  scrollbar-color: var(--color-gray-300) transparent; /* thumb, track */
  scrollbar-width: thin;
}

/* Chrome/Safari/Edge */
/* .scrollbar-colored::-webkit-scrollbar { height: 10px; } */
/* .scrollbar-colored::-webkit-scrollbar-thumb {
  background-color: var(--color-red-600);
  border-radius: 8px;
} */
/* .scrollbar-colored::-webkit-scrollbar-track { background: transparent; } */

/* --------------------- Classes for updateText() fn ----------------------- */
.typing {
  position: relative;
  overflow: hidden;
  /* border-right: .15em solid orange; The cursor */
  white-space: nowrap; /* Keep the text on a single line */
  width: 0; /* Start with no text shown */
  animation: typing 5s steps(40, end) 1;
}

.typing::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0.15em;
  height: 100%;
  background: orange;
  animation: blink-caret 0.4s steps(1, end) infinite;
}

/* -------------------------------------------- */
.delay-1 { animation-delay: 1s; }
.delay-2 { animation-delay: 2s; }
.delay-3 { animation-delay: 3s; }
.delay-4 { animation-delay: 4s; }
.delay-5 { animation-delay: 5s; }

/* -------------------------------------------- */